<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap-grid.min.css">
    <link th:href="@{/css/persondata.css}" rel="stylesheet"/>
    <title>PersonData Search Index</title>
</head>
<body>
<div class="container">
    <div class="col-md-12 text-center">
        <h1>
            <th:block th:text="${message}">message</th:block>
        </h1>
    </div>
    <div class="row">
        <img src="../static/images/droopy.gif" th:src="@{/images/droopy.gif}"/>
    </div>
</div>
</body>
</html>