<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/persondata.css}"/>
    <title>PersonData Search Index</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-12 text-center">
        <h1>
            <th:block th:text="${message}">message</th:block>
        </h1>
    </div>

    <form th:action="@{/search}" th:object="${personData}" method="post">
        <div class="form-row">
            <div class="col-md-3 form-group">
                <label>Last name</label>
                <input class="form-control" type="text" th:field="*{lastName}" size="30" maxlength="80"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 form-group">
                <label>First name</label>
                <input class="form-control" type="text" th:field="*{firstName}" size="30" maxlength="80"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 form-group">
                <label>Street name</label>
                <input class="form-control" type="text" th:field="*{street}" size="30" maxlength="80"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 form-group">
                <label>Number</label>
                <input class="form-control" type="text" th:field="*{number}" size="3" maxlength="10"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 form-group">
                <label>City</label>
                <input class="form-control" type="text" th:field="*{city}" size="30" maxlength="80"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div>
    <a th:class="information" th:href="@{/index}">go back to index page</a>
</div>
</body>
</html>